
<%= form_with(model: paroise, local: true) do |form| %>
  <% if paroise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paroise.errors.count, "error") %> prohibited this paroise from being saved:</h2>

      <ul>
      <% paroise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :nom %>
      <%= form.text_field :nom, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row" style="float: right;">
    <button type="submit" class="btn btn-primary mr-3">
      <i class="fa fa-save"></i> Enregistrer
    </button>
    <%= link_to paroises_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-times-circle"></i> Retour
    <% end %>
  </div>
<% end %>

