<%= render template: 'layouts/navbar' %>
<div class="container mt-4">
  <h1 class="text-center mb-4">Liste des Sessionistes</h1>

  <%= link_to  new_sessioniste_path, class: 'btn btn-primary mb-4' do %>
    <i class="fa fa-plus"></i> Nouveau
  <% end %>
  <%= link_to  new_sessionistes_import_path, class: 'btn btn-primary mb-4' do %>
    <i class="fa fa-upload"></i> Importer
  <% end %>
  <% if @sessionistes.length > 0 %>
    <div class="btn-group float-right mr-1 mb-4">
      <button type="button" id="dropdownMenu2" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#listes">
          <i class="fa fa-list"></i> Liste des Sessionistes
        </button>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#loger">
          <i class="fa fa-home"></i> Loger les sessionistes
        </button>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item btn" data-toggle="modal" data-target="#communaute">
          <i class="fa fa-group"></i> Ajouter aux communautes
        </button>
        <div id="imprimer-div"  class="dropdown-divider"></div>
        <button id="imprimer" type="button" class="dropdown-item btn">
          <i class="fa fa-id-card"></i> Imprimer les badges
        </button>
        <div id="exporter-div" class="dropdown-divider"></div>
        <button id="exporter" type="button" class="dropdown-item btn">
          <i class="fa fa-download"></i> Exporter en Excel
        </button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="listes" tabindex="-1" role="dialog" aria-labelledby="listesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="listesLabel">Liste des sessionistes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="text-center">Liste des Sessionistes</h4>
            <small class="form-text text-muted text-center">(Choisir la liste que vous voulez exporter)</small>

            <div class="text-center">
              <label>Filtre
                <select id="filtre_liste" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <option value="">---------</option>
                  <option value="paroise">Paroise</option>
                  <option value="classe">Classe</option>
                  <option value="groupe">Groupe</option>
                  <option value="communaute">Communauté</option>
                  <option value="logement">Logement</option>
                </select>
              </label>
              <label id="option-paroises" class="ml-4"> Option
                <select id="option-paroises-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <% @paroises.each do |paroise| %>
                    <option value="<%= paroise[:id] %>"><%= paroise[:nom] %></option>
                  <% end %>
                </select>
              </label>
              <label id="option-classes" class="ml-4"> Option
                <select id="option-classes-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <% @classes.each do |classe| %>
                    <option value="<%= classe %>"><%= classe %></option>
                  <% end %>
                </select>
              </label>
              <label id="option-groupes" class="ml-4"> Option
                <select id="option-groupes-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <% @groupes.each do |groupe| %>
                    <option value="<%= groupe %>"><%= groupe %></option>
                  <% end %>
                </select>
              </label>
              <label id="option-communautes" class="ml-4"> Option
                <select id="option-communautes-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <% @communautes.each do |communaute| %>
                    <option value="<%= communaute %>"><%= communaute %></option>
                  <% end %>
                </select>
              </label>
              <label id="option-logements" class="ml-4"> Option
                <select id="option-logements-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
                  <option value="non loger">Non loger</option>
                  <% @logements.each do |logement| %>
                    <option value="<%= logement[:id] %>"><%= logement[:nom] %></option>
                  <% end %>
                </select>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <i class="fa fa-times-circle"></i> Non
            </button>
            <button id="imp" type="button" class="btn btn-primary">
              <i class="fa fa-print"></i> Imprimer
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loger" tabindex="-1" role="dialog" aria-labelledby="logerLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logerLabel">Loger les sessionistes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Voulez-vous loger tout les sessionistes sans logement ?</p>
            <small class="form-text text-muted">
              (Cette action n'affectera que les sessionistes qui n'ont aucun logement)
            </small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <i class="fa fa-times-circle"></i> Non
            </button>
            <%= link_to  sessionistes_loger_path, class: 'btn btn-primary' do %>
              <i class="fa fa-check"></i> Oui, pour tout les sessionistes
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="communaute" tabindex="-1" role="dialog" aria-labelledby="communauteLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="communauteLabel">Ajouter aux communautes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Voulez-vous ajouter tout les sessionistes à des communautes ?</p>
            <small class="form-text text-muted">
              (Cette action n'affectera que les sessionistes qui n'ont pas communaute)
            </small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <i class="fa fa-times-circle"></i> Non
            </button>
            <%= link_to  sessionistes_ajouter_aux_communautes_path, class: 'btn btn-primary' do %>
              <i class="fa fa-check"></i> Oui, pour tout les sessionistes
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <div class="text-center">
    <label>Par
      <select id="filtre" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Tout</option>
        <option value="paroise">Paroise</option>
        <option value="sexe">Sexe</option>
        <option value="classe">Classe</option>
        <option value="groupe">Groupe</option>
        <option value="communaute">Communauté</option>
        <option value="logement">Logement</option>
      </select>
    </label>
    <label id="option-paroise" class="ml-4">Option
      <select id="option-paroise-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Toutes</option>
        <% @paroises.each do |paroise| %>
          <option value="<%= paroise[:nom] %>"><%= paroise[:nom] %></option>
        <% end %>
      </select>
    </label>
    <label id="option-sexe" class="ml-4">Option
      <select id="option-sexe-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Tout</option>
        <option value="M">Masculin</option>
        <option value="F">Féminin</option>
      </select>
    </label>
    <label id="option-classe" class="ml-4">Option
      <select id="option-classe-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Toutes</option>
        <% @classes.each do |classe| %>
          <option value="<%= classe %>"><%= classe %></option>
        <% end %>
      </select>
    </label>
    <label id="option-groupe" class="ml-4">Option
      <select id="option-groupe-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Tout</option>
        <% @groupes.each do |groupe| %>
          <option value="<%= groupe %>"><%= groupe %></option>
        <% end %>
      </select>
    </label>
    <label id="option-communaute" class="ml-4">Option
      <select id="option-communaute-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Toutes</option>
        <% @communautes.each do |communaute| %>
          <option value="<%= communaute %>"><%= communaute %></option>
        <% end %>
      </select>
    </label>
    <label id="option-logement" class="ml-4">Option
      <select id="option-logement-select" class="ml-2 custom-select w-auto custom-select-sm form-control form-control-sm d-inline-block">
        <option value="">Tout</option>
        <option value="non loger">Non loger</option>
        <% @logements.each do |logement| %>
          <option value="<%= logement[:nom].strip %>"><%= logement[:nom] %></option>
        <% end %>
      </select>
    </label>
  </div>

  <table id="sessioniste" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th></th>
        <th scope="col">No</th>
        <th scope="col">Prénoms & Nom</th>
        <th scope="col">Sexe</th>
        <th scope="col">Classe</th>
        <th scope="col">Groupe</th>
        <th scope="col">Communaute</th>
        <th scope="col">Paroise</th>
        <th scope="col">Dordoir</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @sessionistes.each do |sessioniste| %>
        <tr>
          <td><%= sessioniste.id %></td>
          <td scope="row"></td>
          <td><%= sessioniste.prenoms %> <%= sessioniste.nom %></td>
          <td><%= sessioniste.sexe %></td>
          <td><%= sessioniste.classe %></td>
          <td><%= sessioniste.groupe %></td>
          <td><%= sessioniste.communaute %></td>
          <td><%= sessioniste.paroise.nom %></td>
          <% if sessioniste.dortoir != nil %>
            <td><%= sessioniste.dortoir.get_nom_complet %></td>
          <% else %>
            <td class="text-center"><span class="badge badge-warning">non loger</span></td>
          <% end %>
          <td><%= link_to 'Voir', sessioniste %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :script do %>
  <script>
    $(document).ready(function () {
      $('#imprimer').hide()
      $('#imprimer-div').hide()
      $('#exporter').hide()
      $('#exporter-div').hide()
      $('#imp').hide()

      $('#option-paroise').hide()
      $('#option-sexe').hide()
      $('#option-classe').hide()
      $('#option-groupe').hide()
      $('#option-communaute').hide()
      $('#option-logement').hide()

      $('#option-paroises').hide()
      $('#option-sexes').hide()
      $('#option-classes').hide()
      $('#option-groupes').hide()
      $('#option-communautes').hide()
      $('#option-logements').hide()

      var t = $('#sessioniste').DataTable({
        columnDefs: [{
            'targets': 0,
            'checkboxes': {
              'selectRow': true
            }
        }],
        select: {
            style:    'multi',
        },
        order: [[ 2, 'asc' ]],
        pageLength: 20,
        lengthMenu: [[20, 40, 80, -1], [20, 40, 80,  "Tous"]]
      })
      t.on('select', function() {
        if (t.column(0).checkboxes.selected().length === 0) {
          $('#imprimer').hide()
          $('#imprimer-div').hide()
          $('#exporter').hide()
          $('#exporter-div').hide()
        } else {
          $('#imprimer').show()
          $('#imprimer-div').show()
          $('#exporter').show()
          $('#exporter-div').show()
        }
      })
      t.on('deselect', function() {
        if (t.column(0).checkboxes.selected().length === 0) {
          $('#imprimer').hide()
          $('#exporter').hide()
        } else {
          $('#imprimer').show()
          $('#exporter').show()
        }
      })
      t.on('order.dt search.dt', function () {
        t.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
      }).draw();
      $('#imprimer').on('click', function(e){
        var rows_selected = t.column(0).checkboxes.selected();

        $.ajax({
          url: `/enregistrer-la-selection`,
          headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
          type: 'post',
          data: {
            description: 'Sessionistes',
            ids: rows_selected.join(',').split(',')
          }
        })
        .done( (response) => {
          window.location.assign(`generation-de-badge/${response.id}`)
        })
      })
      $('#exporter').on('click', function(e){
        var rows_selected = t.column(0).checkboxes.selected();

        $.ajax({
          url: `/enregistrer-l-exportation`,
          headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
          type: 'post',
          data: {
            ids: rows_selected.join(',').split(',')
          }
        })
        .done( (response) => {
          window.location.assign(`exporter-en-excel/${response.id}`)
        })
      })
      $('#filtre').on('change', function(){
        if ($('#filtre').val() === '' ) {
          t.columns(7).search( '' ).draw(true)
          t.columns(3).search( '' ).draw(true)
          t.columns(4).search( '' ).draw(true)
          t.columns(5).search( '' ).draw(true)
          t.columns(6).search( '' ).draw(true)
          t.columns(8).search( '' ).draw(true)

          // Paroise select
          $('#option-paroise').hide()
          $('#option-paroise-select').prop('selectedIndex', 0)
          // Sexe select
          $('#option-sexe').hide()
          $('#option-sexe-select').prop('selectedIndex', 0)
          // Classe select
          $('#option-classe').hide()
          $('#option-classe-select').prop('selectedIndex', 0)
          // Groupe select
          $('#option-groupe').hide()
          $('#option-groupe-select').prop('selectedIndex', 0)
          // Communaute select
          $('#option-communaute').hide()
          $('#option-communaute-select').prop('selectedIndex', 0)
          // Communaute select
          $('#option-logement').hide()
          $('#option-logement-select').prop('selectedIndex', 0)
        } else {
          $('#filtre').val() === 'paroise' ? $('#option-paroise').show() : $('#option-paroise').hide()
          $('#filtre').val() === 'sexe' ? $('#option-sexe').show() : $('#option-sexe').hide()
          $('#filtre').val() === 'classe' ? $('#option-classe').show() : $('#option-classe').hide()
          $('#filtre').val() === 'groupe' ? $('#option-groupe').show() : $('#option-groupe').hide()
          $('#filtre').val() === 'communaute' ? $('#option-communaute').show() : $('#option-communaute').hide()
          $('#filtre').val() === 'logement' ? $('#option-logement').show() : $('#option-logement').hide()
        }
      })
      $('#option-paroise-select').on('change', function(){
        t.columns(7).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })
      $('#option-sexe-select').on('change', function(){
        t.columns(3).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })
      $('#option-classe-select').on('change', function(){
        t.columns(4).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })
      $('#option-groupe-select').on('change', function(){
        t.columns(5).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })
      $('#option-communaute-select').on('change', function(){
        t.columns(6).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })
      $('#option-logement-select').on('change', function(){
        t.columns(8).search( "\\s*"+this.value+"\\s*$", true, false, true ).draw(true)
      })

      $('#imp').on('click', function(e){
        var opt = ''
        if ($('#filtre_liste').val() === 'paroise' ) {
          opt = $('#option-paroises-select').val()
        } else if ($('#filtre_liste').val() === 'classe' ) {
          opt = $('#option-classes-select').val()
        } else if ($('#filtre_liste').val() === 'groupe' ) {
          opt = $('#option-groupes-select').val()
        } else if ($('#filtre_liste').val() === 'communaute' ) {
          opt = $('#option-communautes-select').val()
        } else if ($('#filtre_liste').val() === 'logement' ) {
          opt = $('#option-logements-select').val()
        } else {
          opt = ''
        }

        $.ajax({
          url: `/enregistrer-la-fiche`,
          headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
          type: 'post',
          data: {
            filtre: $('#filtre_liste').val(),
            opt: opt
          }
        })
        .done( (response) => {
          window.location.assign(`fiche-des-sessionistes/${response.id}.pdf`)
        })
      })

      $('#filtre_liste').on('change', function(){
        if ($('#filtre_liste').val() === '' ) {
          $('#imp').hide()
          // Paroise select
          $('#option-paroises').hide()
          $('#option-paroises-select').prop('selectedIndex', 0)
          // Classe select
          $('#option-classes').hide()
          $('#option-classes-select').prop('selectedIndex', 0)
          // Groupe select
          $('#option-groupes').hide()
          $('#option-groupes-select').prop('selectedIndex', 0)
          // Communaute select
          $('#option-communautes').hide()
          $('#option-communautes-select').prop('selectedIndex', 0)
          // Communaute select
          $('#option-logements').hide()
          $('#option-logements-select').prop('selectedIndex', 0)
        } else {
          $('#imp').show()
          $('#filtre_liste').val() === 'paroise' ? $('#option-paroises').show() : $('#option-paroises').hide()
          $('#filtre_liste').val() === 'classe' ? $('#option-classes').show() : $('#option-classes').hide()
          $('#filtre_liste').val() === 'groupe' ? $('#option-groupes').show() : $('#option-groupes').hide()
          $('#filtre_liste').val() === 'communaute' ? $('#option-communautes').show() : $('#option-communautes').hide()
          $('#filtre_liste').val() === 'logement' ? $('#option-logements').show() : $('#option-logements').hide()
        }
      })
    })
  </script>
<% end %>
